{% extends "base.html" %}

{% block content %}
<!-- Page showing a summary list of current and future bookings for the restaurant owner -->
<div class="container-fluid bg-color-green manage-bookings">
    <div class="row">
        <div class="col-12 manage-content">
            <h3 class="text-center mb-4">Manage Bookings</h3>
            <div class="text-center">
                <a class="btn btn-large btn-red txt-light" href="{% url 'make_booking' %}"
                    aria-label="Go to the table booking form">Add Booking</a>
            </div>
            <p class="text-center my-3">The <i class="fas fa-exclamation-circle manage-updated"></i> flag indicates new
                bookings or those updated by the customer. Click the flag to turn it off.</p>
            {% if not bookings %}
                <div class="card manage-no-bookings txt-dark bg-color-white my-3">
                    <div class="card-body p-3">
                        <p class="mb-1">There are currently no bookings today or in the future.</p>
                    </div>
                </div>
            {% endif %}
            <!-- Booking information cards for each booking -->
            {% for booking in bookings %}
                <div class="card txt-dark bg-color-white my-3">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="card-body p-3">
                                {% if booking.updated %}
                                    <a href="{% url 'toggle_updated' booking.id %}"
                                        aria-label="Turn off the booking updated flag"><i
                                            class="fas fa-exclamation-circle manage-updated"></i></a>
                                    <p class="mb-1 manage-name-label"><strong>Name:</strong></p>
                                    <p class="mb-1 manage-name">{{ booking.name }}</p>
                                {% else %}
                                    <p class="mb-1"><strong>Name:</strong></p>
                                    <p class="mb-1">{{ booking.name }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="card-body p-3">
                                <p class="mb-1"><strong>Booking Details:</strong></p>
                                <p class="mb-1 manage-details">{{ booking.date }} {{ booking.time|time:"H:i" }}</p>
                                <p class="mb-1 manage-details">
                                    {{ booking.party_size }} {% if booking.party_size == 1%}person{% else %}people{% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="col-6 col-sm-7 col-md-3 col-lg-2">
                            <div class="card-body p-3">
                                <p class="mb-1"><strong>Table Size:</strong></p>
                                {% for table in booking.tables.all %}
                                    <p class="mb-1 manage-sizes">{{ table.size }} person,</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-6 col-sm-5 col-md-3 col-lg-2">
                            <div class="card-body p-3">
                                <p class="mb-1"><strong>Table No(s):</strong></p>
                                {% if booking.table_numbers %}
                                    <p class="mb-1">{{ booking.table_numbers }}</p>
                                {% endif %}
                                <form class="manage-table-no" action="{% url 'add_table_no' booking.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" name="table_numbers" placeholder="eg. 1, 2"
                                        aria-label="add or replace table numbers" title="table number">
                                    <button type="submit" class="p-0 border-0 bg-color-trans" aria-label="Add or replace table numbers"
                                        title="{% if booking.table_numbers %}Replace{% else %}Add{% endif %}">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="card-body p-3">
                                <p class="mb-1"><strong>Requirements:</strong></p>
                                {% if booking.special_requirements %}
                                    <p class="mb-1">{{ booking.special_requirements }}</p>
                                {% else %}
                                    <p class="mb-1">None</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Options to view details, update or cancel booking -->
                    <div class="manage-options pl-3 pb-3">
                        <a class="manage-view" href="{% url 'booking_detail' booking.id %}"
                            aria-label="View booking details">View</a>
                        <a class="pl-1" href="{% url 'update_booking' booking.id %}"
                            aria-label="View and update the booking">Update</a>
                        <button class="btn-delete manage-delete pl-1"
                            data-delete-url="{% url 'delete_booking' booking.id %}">Cancel Booking</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
